<% if @meal.meal_type == 'breakfast' %>
    $("#breakfast").append("<td><%= @meal.name %></td>");
<% end %>
<% if @meal.meal_type == 'lunch' %>
    $("#lunch").append("<td><%= @meal.name %></td>");
<% end %>
<% if @meal.meal_type == 'between' %>
    $("#between").append("<td><%= @meal.name %></td>");
<% end %>
<% if @meal.meal_type == 'dinner' %>
    $("#dinner").append("<td><%= @meal.name %></td>");
<% end %>
