.flex_group{
    display: flex;
} 

.flex_container1 {
    flex-grow: 1;
}

.groupToolbar {
    display: flex;
}

.flex_toolbar {
    flex-grow: 1;
}

a.newGroupButton {
    margin-top: 20px;
}

.Group-Box {
    margin-top: 20px;
}

.pageHeadingBoxTitle {
    text-align: center;
    padding-bottom: 10px;
}