.flex_group{
    display: flex;
    margin-top: 20px;
} 

.flex_container1 {
    flex-grow: 1;
}

.groupToolbar {
    display: flex;
}

.flex_toolbar {
    flex-grow: 1;
}

a.newGroupButton {
    margin-top: 20px;
}

.Group-Box {
    margin-top: 20px;
}

.pageHeadingBoxTitle {
    text-align: center;
    padding-bottom: 5px;
    margin-top: 30px;
    margin-bottom: 0;
}

.myGroupList {
    display: flex;
}

.flex-mygroup {
    flex-grow: 1;
}

.mygroupDetails {
}

.DataList {
    display: block;
    margin-top: 0;
}

.DataList .EachData {
    display: flex;
    border-color: black;
}

.EachData * {
    font-weight: bold;
    font-size: 15px;
}

.EachData img {
    margin: 15px;
    width: 84px;
    height: 84px;
}

.EachDataDetails {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

.joinGroup, .inviteGroup, .dropdown {
    display: flex;
    align-items: center;
}

.dropdown {
    margin-left: 20px;
}

.groupName, .groupDescription, .numberOfGroups {
    margin: 10px 0;
    min-height: 15px;
}

div[id^="checked_users"] {
    display: flex;
}

.checked_user {
    margin: 0 5px;
}

.checked_user button {
    display: flex;
}

.delete_checked_user {
    margin-left: 5px;
}

.group_invited {
    margin-top: 20px;
}

.group_invited h4 {
    font-weight: bold;
}