header .content {
    width: 970px !important;
    margin: auto;
    display: flex;
}

.mygoal-number {
    font-weight: bold;
    font-size: 45px;
    line-height: 40px;
    color: #00b7c4;
    letter-spacing: -1px;
    margin: 0 0 0px -4px;
}

string.unit {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #534e4e;
    margin: 0 0 0px 4px;
}

.mygoal {
    display: flex;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 30px;
    background-image: url("https://mdbootstrap.com/img/Photos/Others/images/76.jpg");
    background-size: cover;
}

.mygoal .goal-exp {
    margin: 13px 0 0 0;
}

header {
    background-color: #0a5282;
    display: table;
    min-height: 36px;
    width: 100%;
    height: 36px;
}

.contents > div {
    display: table-cell;
    padding-left: 15px;
    padding-right: 10px;
    vertical-align: middle;
}

header h2 {
    color: #FFFFFF;
    margin: 0;
    font-weight: normal;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.content body {
    background-color: #f6f6f6;
    padding: 1.2em;
}

.flex-box {
    display: flex;
}

.block-box {
    display: block;
}

.col-sm {
    padding-left: 200px;
    margin-top: 20px;
}

h2.today-seika {
    text-align: center;
    font-weight: bold;
}

.card {
    margin-top: 40px;
    height: 300px;
    width: 500px;
}

.card-header {
    background-color: #0a5282;
    color: #f6f6f6;
}

.card-body {
    background-color: rgb(247, 239, 239);
}

.diary-card {
    padding-bottom: 20px;
    border-bottom: solid;
    border-bottom-color: rgba(133, 124, 124, 0.3);
}

.img-thumbnail {
    width: 100px;
    height: 100px;
}

a.btn-light {
    margin-left: 100px;
}

.goal-bar {
    margin-top: 10px;
    padding: 5px 0;
    border-right-style: dotted; 
}

.progress {
    height: 20px;
    background-color: white;
}