// Place all the styles related to the goal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index画面
.goal-setting {
    display: flex;
    justify-content: center;
    align-items: center;
}

.goal-box {
    margin-top: 30px;
    font-size: 20px;
}

.start {
    font-weight: bold;
    font-size: 25px;
}

small {
    padding-left: 10px;
}

em {
    color: rgb(189, 44, 181);
}

.calorie-goal {
    font-weight: bold;
    margin: 10px 0;
}

.deadline-goal-text, .slim-goal-text {
    margin-top: 13px;
    font-size: 20px;
}

.config-box strong {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.goal_warning_start {
    font-size: 20px;
    font-weight: bold;
}

.goal_warning div div {
    margin: 15px 0;
}

// 設定画面
.config-body, .config-calorie, .goal-setting {
    display: flex;
    justify-content: center;
    background-image: image-url("background.jpg");
    height: 400px;
    align-items: center;
}

.config-box, .goal_warning {
    width: 300px;
    display: flex;
    justify-content: center;
}

p {
    font-weight: bold;
    font-size: 17px;
    color: rgb(52, 70, 24);
}

.config-box p {
    margin: 10px 0;
}

.form-group {
    padding-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

select, input {
    border: skyblue 2px inset;
}

.body-form {
    margin: 10px 0;
}

.calorie-submit, .goal-submit {
    background-color: skyblue;
    color: black;
}

.move_to_configBody, .move_to_configCalorie {
    margin-left: 100px;
}

.goal-flex {
    display: flex;
    margin-top: 10px;
}

.back_to_home {
    margin-top: 10px;
    display: flex;
    justify-content: right;
}

// configCalorie

.deadline-form {
    display: flex;
}

.move_to_configBody {
    font-size: 13px;
}