// Place all the styles related to the meals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mealNameError {
    visibility: hidden;
    color: red;
}

h2 {
    font-family: sans-serif;
    font-weight: bold;
}

td {
    vertical-align: middle;
}

.table-responsive tr td {
    text-align: center;
}

.meal_timing {
    font-size: 20px;
    color: rgb(101, 132, 153);
    font-weight: bold;
    border-bottom: none;
}

.subtitle {
    border: none;
    color: white;
}

tr#mymeal_header td.subtitle.theme {
    background-color: rgb(101, 132, 153);
    border:medium solid white;
    text-align: center;
}

tr#meal_header td.subtitle.theme {
    background-color: rgb(50, 108, 173);
    border:medium solid white;
    text-align: center;
}

tr.table-secondary :not(td:first-child) {
    text-align: center;
}


tr.table-secondary td {
    border-right: medium solid white;
    border-left: medium solid white;
}

.meal_to_each {
    font-weight: bold;
    color: rgb(88, 172, 9);
}

.add_to_today_meal {
    border-radius: 50%;
    line-height: 30px;
    width: 30px;
    height: 30px;
    padding: 0;
    color: #fff;
    background: #f56500;
    border-color: #f56500;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

// 食事登録・編集画面のパーシャル

.meal_form {
    width: 50%;
    margin: auto;
    padding-top: 20px;
}

.meal_form h1 {
    font-family: sans-serif;
    font-weight: bold;
}

.nutrition-wrap table {
    background-color: rgba(187, 176, 156, 0.2);
    border-top: medium solid black;
    border-collapse: separate;
}

h6.title {
    font-weight: bold;
}

.nutrition-wrap table td.col-1 {
    font-weight: bold;
}

.nutrition-wrap table thead tr {
    border-bottom: 1px double black;
}

.nutrition-wrap table thead th {
    font-size: 15px;
    padding-top: 5px;
}

.meal_btn {
    border: 6px outset #cfcfcf;
    border-radius: 50%;
    margin-top: 10px;
}


